@import url('./apps/keep/note-preview.css');
@import url('./apps/email/email-main.css');

* {
    box-sizing: border-box;
    margin: 0;
}

/* BASIC */
html {
    font-family: Helvetica, Arial sans-serif;
    color: #4f4e4e;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    font-size: 1rem;
    background-color: #ffffff;
}

.app-header {
    height: 7vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.app-footer {
    height: 3vh;
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    font-size: 1.3em;

}

.app-main {
    min-height: 90vh;
    height: 90%;
    background-color: rgb(255, 255, 255);
}

.read-more-btn {
    color: blue;
    text-decoration: blue;
    font-size: 20px;
    cursor: pointer;
}

.main-keeper{
    background-color: blanchedalmond;
}