@import url('./apps/book/book-main.css');
@import url('./apps/keep/note-preview.css');
@import url('./apps/email/email-main.css');

* {
    box-sizing: border-box;
    margin: 0;
}

/* BASIC */
html {
    font-family: Helvetica, Arial sans-serif;
    color: #4f4e4e;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    font-size: 1rem;
    background-color: #ffffff;
}

.logo {
    padding: 10px;
}

.logo img {
    padding: 10px;
    max-width: 200px;
}

.logo a {
    color: #616161;
    text-decoration: none;
}

.app-header {
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.192) solid 1px;
    padding-inline: 10px;
}
.app-footer {
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    border-top: rgba(0, 0, 0, 0.192) solid 1px;
    padding-inline: 10px;
}


.app-main {
    min-height: 90vh;
    height: 90%;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
}

.read-more-btn {
    color: blue;
    text-decoration: blue;
    /* font-size: 20px; */
    cursor: pointer;
}

.main-keeper {
    background-color: rgb(255, 255, 255);
}


.btn-menu {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 4vh;
    border: none;
    transition: 0.3s;
}

.btn-menu:hover {
    height: 4.5vh;
}

.main-nav-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(231, 231, 231, 0.9);
    width: 200px;
    transform: translateX(100%);
    transition: transform .6s;
    z-index: 2;
}
.main-nav-container a:hover{
color: rgb(255, 103, 103);
border-bottom: 1px rgb(255, 103, 103) solid;
}

.menu-open {
    transform: translateX(0%);
    box-shadow: -2px -2px 20px rgb(0 0 0 / 25%);
}

.main-nav-container>* {
    margin: 0;
}

.main-nav-container a {
    font-size: 2em;
    display: block;
    border-bottom: 1px solid rgb(83, 83, 83);
    padding: 10px 16px;
    color: rgb(49, 42, 42);
    text-decoration: none;
    width: 100%;
}

.main-nav-container li:hover {
    background-color: rgba(201, 200, 200, 0.9)
}

.main-screen {
    position: fixed;
    cursor: pointer;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.534);
}

.menu-img,
.email-menu {
    width: 2em;
    height: 2em;
}

.btn-menu,
.email-menu-btn,
.clean-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.user-msg {
    color: black;
    font-size: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.success {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(27, 180, 27);
    border-radius: 15px;
}

.error {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(241, 42, 42);
    border-radius: 15px;
}

/* HOME  */

.main-home-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

.home-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 30%;
    padding: 50px;
}

.main-home-container img {
    max-width: 60%;
    margin-left: 30px;
}

.home-details-container h1 {
    color: black;
    font-size: 3em;
    font-weight: 100;
    margin: 10px;
}

.home-details-container p {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 100;
}

.action-btn-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.action-btn-home a {
    margin-right: 20px;
    border: 1px solid lightgrey;
    width: 126px;
    color: grey;
    height: 50px;
    border-radius: 5px;
    font-size: 1.4em;
    outline: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    text-decoration: none
}

.action-btn-home a:hover {
    color: rgba(41, 40, 40, 0.774);
    border: 1px solid rgb(70, 70, 70);
}


@media (max-width: 1250px) {
    .main-home-container {
        align-items: center;
        flex-direction: column;
    }

    .home-details-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 65%;
        padding: 0 50px 50px 50px;
        margin-top: 0;
    }

    .main-home-container img {
        max-width: 60%;
        margin-left: 30px;
    }
    .action-btn-home{
        align-self: center;
    }

}

@media (max-width: 650px) {
    .home-details-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
        padding: 0 20px 20px;
    }

    .action-btn-home {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .main-home-container img {
        max-width: 100%;
        margin-left: 30px;
    }
}

    .action-btn-home a {
        width: 90px;
        height: 50px;
    }
