/*Email*/
/* main-email-page */
.app-email {
    height: 90%;
    text-align: center;
    margin: 20px;
    font-size: 12px;
}

.email-list-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
}

/*email-actions*/
.email-actions-container {
    height: 50vh;
    width: 100%;
    margin-block: 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.btn-action {
    text-decoration: none;
    color: #1e1e1e;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    font-size: 1em;
    border-radius: 7px;
    cursor: pointer;
    text-align: left;
    min-width: 70%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.email-actions>.btn {
    border: none;
    border: 1px solid white;
    width: 70%;
}

.btn-action:hover {
    border: 1px solid lightgray;
    background-color: rgb(212, 212, 212);
}

#myProgress {
    width: 70%;
    background-color: grey;
}

#myBar {
    width: 1%;
    height: 20px;
    background-color: rgb(70, 209, 228);
}

.progress-p {
    max-width: 70%;
    margin: 15px;
}

.clicked {
    background-color: rgb(230, 230, 230);
}

.action-img {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin: 0;
}

.btn-compose>img {
    width: 3em;
    height: 3em;
}

.btn-compose {
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.527);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 25px;
}

.btn-info {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}


/*Email-filter*/
.search-input {
    font-size: 20px;
    width: 40%;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border: none;
    border-bottom: 1px rgba(172, 172, 172, 0.301) solid;
    transition-duration: 0.3s;
    background: url("/img/notes/search.png") no-repeat scroll 7px 7px;
    padding-left: 40px;
}

.search-input:focus {
    border-bottom: 1px rgba(118, 173, 255, 0.781) solid;
}

.search-input:focus::placeholder {
    color: rgba(118, 173, 255, 0.781);
}

.search-input::placeholder {
    transition-duration: 0.3s;
}

.select-dropdown {
    position: relative;
    background-color: #ffffff;
    border: 2px solid #999999;
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    -webkit-appearance: none;
    cursor: pointer;

}

.email-filter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

/*email-preview*/
.email-preview {
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
}

.area-in-preview {
    width: calc(100% / 4);
    text-align: left;
}

.star-area {
    width: 50px;
    padding-left: 10px;

}

.email-preview-container:hover {
    box-shadow: rgba(0, 0, 0, 0.555) 0px 5px 5px;
    border-top: 1px solid rgba(172, 172, 172, 0.541);
}

.email-preview .email-is-read {
    background-color: rgb(241, 241, 241);
}

.actions-email-preview .email-is-read {
    background-color: rgb(241, 241, 241);
}

.email-preview-data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4.5em;
}

.email-preview-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(220, 220, 220, 0.801);
    cursor: pointer;
}

.email-preview-data>* {
    display: inline-block;
    margin: 5px;
}

.actions-email-preview button {
    display: inline-block;

}

.star-img {
    font-size: 2em;
}

.email-img {
    width: 2em;
}

span.checked-star {
    color: orange;
    user-select: none;
}

span.unChecked-star {
    color: rgb(161, 161, 161);
}

/*email-details*/
.email-details-box {
    width: 90%;
    margin: 30px auto;
    height: fit-content;
    font-size: 16px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    background-color: rgb(73 73 73 / 4%);
}

/*email-expand*/
.email-expand {
    font-size: 16px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid #e0e0e0;
}

.actions-email-expand,
.actions-email-preview {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-delete-email {
    font-size: 1em;
    color: black;
}

.actions-email-expand .action-img {
    font-size: 0.8em;
}

.contact-user {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*email-edit*/
.email-edit-container {
    width: 90%;
    margin: 30px auto;
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(73 73 73 / 4%);
}

.email-edit-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    border-collapse: collapse;
    width: 100%;
}

.compose-message-header {
    width: 100%;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-edit-container input,
textarea {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(133, 133, 133, 0.445);
    position: relative;
}

.email-edit-container .body-input {
    height: 200px;
    display: flex;
    align-self: baseline;
    width: 100%;
}

.email-edit-container .btn-send {
    position: absolute;
    bottom: 10px;
    left: 10px;
    box-shadow: 0px 0px 6px 3px rgba(70, 70, 70, 0.233);
    border: none;
    padding: 10px;
    border-radius: 25px;
}

.email-edit-container .btn-close-email {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 1.8em;
    height: 1.8em;
}



/* BP */
/* Mobile Only */

/*small*/
@media (max-width: 640px) {

    /* main-email-page */
    .app-email {
        height: 90%;
        text-align: center;
        margin: 10px;
    }

    .main-email-page {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 70%;
        width: 100%;
        min-width: fit-content;
        justify-content: space-between;
    }

    .email-list {
        background-color: rgb(255, 255, 255);
        min-height: 100%;
        display: flex;
        width: 100%;
    }

    .top-mobile-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .email-actions {
        background-color: rgb(255, 255, 255);
        position: fixed;
        display: flex;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform .6s;
        z-index: 1;
        width: 100%;
    }

    .email-actions-container {
        height: fit-content;
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        min-height: 100%;
    }

    .btn-action {
        text-decoration: none;
        color: #1e1e1e;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
        font-size: 1em;
        cursor: pointer;
        text-align: left;
        min-width: 70%;
        height: 40px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    .email-actions>.btn {
        border: none;
        border: 1px solid white;
        width: 70%;
    }

    .email-menu-btn {
        display: block;
        margin-block: 10px;
    }


    .emailMenuOpen {
        transform: translateX(0%);
    }


}




@media (min-width: 640px) {

    .main-email-page {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 70%;
        width: 100%;
    }

    .email-list {
        background-color: rgb(255, 255, 255);
        flex: 3;
        min-height: 100%;
        width: fit-content;
    }

    .email-menu-btn {
        display: none
    }


}