*{
    font-family: 'roboto', sans-serif;
}

.note-preview-container{
        background-color: rgb(255, 255, 255);
        color: rgb(31, 31, 31);
        font-size: 20px;
        padding: 10px;
        margin:10px;
        height: 100%;
        min-width: 300px;
        min-height: 200px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        transition: 0.2s;
        border: 1px solid rgba(150, 150, 150, 0.212);
}




.note-list{
    /* margin-top: 50px; */
    padding: 20px;
    list-style: none;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* column-gap: 15px;
    row-gap: 10px; */
    /* justify-content: center; */
    column-count: 5;
    min-height: 100vh;
}
.note-list li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: baseline;
    break-inside: avoid;
    margin-bottom: 10px;

}

.search-notes-input{
font-size: 20px;
width: 40%;
padding: 10px;
border-radius: 20px;
border:  none;
}

.note-filter{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    width: 50%;
    padding:5px;
    box-shadow: 0px 0px 5px 5px #8080801c;

}
.note-filter button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.note-filter img{
    max-width: 30px;
}

.note-img {
    max-width: 200px;
    /* object-fit: fill; */
}

.add-buttons-container{
    display: flex;
    
}
.add-buttons-container img{
   opacity: 0.5;
    
}

.img-title{
    margin: 0;
}

.note-preview{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.preview-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    width: 100%;
   opacity: 0;
   transition-duration: 0.3s;
   transform: translateY(100%);

}

.todo{
    margin-top: 20px;
}
.note-preview-container:hover {
    box-shadow: 0px 0px 15px 5px #80808025;

}

.note-preview-container:hover .preview-btns {
   opacity: 1;
   transform: translateY(0%);

}

.preview-btns img{
padding: 1px;
display: flex;
align-items: center;
justify-content: center;
max-width: 40px;
}

.preview-btns input{
    /* opacity: 0; */
    border: none;
}

.todos-preview input{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.todos-preview{
    width: 100%;
    position: relative;
}

.todos-preview span{
    font-weight: bold;
    color: black;
}

.todos-preview .add-todo-btn{
    position: absolute;
    border-radius: 20px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.418);
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px rgba(0, 0, 0, 0) solid
}
.todos-preview button:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.808);
}
.remove-todo{
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}


.remove-todo:hover{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.808);
}

.text-cmp{
height: 100%;
width: 100%;
}
.img-cmp-container{
    width: 100%;
    padding: 5px;
}


.img-cmp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.img-cmp iframe{
    transform: translate3d(0,0,0);
}

.img-cmp img{
    position: relative;
    width: 45%;
    object-fit: fill;
}

.text-area{
    width: 100%;
    height: 100%;
    border: none;
    list-style: none;
    background: none;
    font-size: 15px;
    font-weight: bold;
    
}


.note-dynamic{
    height: 100%;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.todo-checkbox{
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    width: 80%;
}

.todo-checkbox input{
    font-size: 20px;
    border: none;
    border-bottom: 1px black solid;
}


.checked{
text-decoration: line-through;
color: rgba(202, 200, 200, 0.548);
}



.note-search-filter{
    display: flex;
    padding: 10px;
}
.note-search-filter input{
    border: none;
    border-bottom: 1px rgba(172, 172, 172, 0.301) solid;
    transition-duration: 0.3s;
    background: url('/img/notes/search.png') no-repeat scroll 7px 7px;
    padding-left: 40px;
}
.note-search-filter input:focus{
    
    border-bottom: 1px rgba(118, 173, 255, 0.781) solid;
}
.note-search-filter input:focus::placeholder{
    color: rgba(118, 173, 255, 0.781);
}
.note-search-filter input::placeholder{
    transition-duration: 0.3s;
}

.searchBar-container{
    display: flex;
    width: 100%;
}

.color-picker{
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.color-picker {
    -webkit-appearance: none;
    padding: 0;
    border: 1px black solid;
    border-radius: 10px;
    width: 20px;
    height: 20px;
  }
  .color-picker::-webkit-color-swatch {
    border: 1px black solid;
    border-radius: 10px;
    padding: 0;
  }
  .color-picker::-webkit-color-swatch-wrapper {
    border: 1px black solid;
    border-radius: 10px;
    padding: 0;
  }
  .note-search-filter select{
      border: none;
      cursor: pointer;
  }


  @media (max-width: 1540px) {
    .note-list{
        column-count: 4;
    }
  }
  @media (max-width: 1240px) {
    .note-list{
        column-count: 3;
    }
  }
  @media (max-width: 930px) {
    .note-list{
        column-count: 2;
    }
    .searchBar-container{
        width: 70%;
    }
    .note-filter {
        display: block;
        width: 70%;
        justify-content: space-between;
        background-color: white;
        border-radius: 20
    }
    .note-filter input{
        width: 100%;
        background-color: white;
        border-radius: 20
    }
    .add-buttons-container{
       gap: 20px;
    }
  }
  @media (max-width: 630px) {
    .note-list{
        column-count: 1;
    }
    .searchBar-container{
        flex-direction: column;
        width: 100%;
    }
   
  
  }